---
export const prerender = true

import Layout from "../layouts/main.astro"
import LessonsHero from "../components/Blocks/LessosHero.astro"
import LessonCard from "../components/LessonCard.astro"
import Container from "../components/Container.astro"
import { User, Users, Crown, Gift } from "lucide-react"

const lessons = [
    {
        icon: User,
        title: "Solo Lesson",
        description:
            "This lesson will introduce you to the basics of Git and GitHub. It will prepare you to use these tools for indiviaual assignements and  prjects.",
        items: [
            "Setup Git and GitHub",
            "Make your first Repo",
            "Push code to GitHub"
        ],
        type: "git",
        url: "/lessons/solo/introduction"
    },
    {
        icon: Users,
        title: "Team Lesson",
        description:
            "You're gonna need a friend for this one. This losson will go over how multiple people can work on the same project at the same time.",
        items: [
            "Fork and Clone Repos",
            "Create and Merge PRs",
            "Resolve Merge Conflicts"
        ],
        type: "github",
        url: "/lessons/team/introduction"
    },
    {
        icon: Crown,
        title: "Pro Lesson",
        description:
            "Shits about to get real. This lessonon will go over how Git is used in the real world and some best practices to go along with it.",
        items: [
            "Use and manage Branches",
            " Sync code on Branches",
            "Implement GitHub Flow"
        ],
        type: "git",
        url: "/lessons/pro/introduction"
    },
    {
        icon: Gift,
        title: "Bonus Lesson",
        description:
            "For those who are willing to go the extra mile. This lesson introduces tools and resources that will help you to be more productive.",
        items: [
            "LazyGit and Git Aliases",
            "Setup GitHub README",
            "Write Docs using Markdown"
        ],
        type: "github",
        url: "/lessons/bonus/introduction"
    }
]
---

<Layout
    title="Lessons"
    description="Learn Git and GitHub in 3 days for free in a fun and interactive way.  Chose either a simple beginner lesson or a more advanced team based one."
>
    <LessonsHero />
    <hr />
    <Container>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-10">
            {
                lessons.map((lesson) => (
                    <LessonCard
                        type={lesson.type as "git" | "github"}
                        icon={lesson.icon}
                        title={lesson.title}
                        description={lesson.description}
                        items={lesson.items}
                        url={lesson.url}
                    />
                ))
            }
        </div>
    </Container>
</Layout>
