---
const links1 = [
    {
        title: "Lessons",
        subLinks: [
            {
                label: "CS000 Solo",
                href: "/"
            },
            {
                label: "CS000 Team",
                href: "/"
            },
            {
                label: "CS000 Pro",
                href: "/"
            },
            {
                label: "CS000 Bonus",
                href: "/"
            }
        ]
    },
    {
        title: "Links",
        subLinks: [
            {
                label: "Home",
                href: "/"
            },
            {
                label: "Lessons",
                href: "/"
            },
            {
                label: "Pricing",
                href: "/"
            },
            {
                label: "About",
                href: "/"
            }
        ]
    }
]

const links2 = [
    {
        title: "Nerds",
        subLinks: [
            {
                label: "Docs",
                href: "/"
            },
            {
                label: " GitHub",
                href: "/"
            },
            {
                label: "Contrubute",
                href: "/"
            },
            {
                label: "README",
                href: "/"
            }
        ]
    },
    {
        title: "Legal",
        subLinks: [
            {
                label: "Terms of service",
                href: "/"
            },
            {
                label: "Privacy Policy",
                href: "/"
            },
            {
                label: "Code of Conduct",
                href: "/"
            },
            {
                label: "Disclaimer",
                href: "/"
            }
        ]
    }
]
---

<div class="relative border-t border-zinc-200 max-w-screen bg-white">
    <footer
        class="w-full md:w-11/12 lg:w-3/4 mx-auto flex flex-col md:flex-row justify-between"
    >
        <div
            class="flex flex-row md:flex-col grow md:justify-between justify-start p-5"
        >
            <p class="w-1/2 md:w-fit">CS000</p>
            <p class="text-zinc-500 w-1/2 md:w-fit">
                Created by <a
                    class="underline text-black font-bold"
                    target="_blank"
                    href="https://anav.dev">Anav</a
                >
            </p>
        </div>
        <div class="flex flex-col md:flex-row gap-5 p-5">
            <div class="flex">
                {
                    links1.map((link, index) => (
                        <div class="w-1/2 md:w-fit md:ml-20 flex flex-col gap-2">
                            <h4>{link.title}</h4>
                            {link.subLinks.map((subLink, index) => (
                                <a
                                    href={subLink.href}
                                    class="text-zinc-500 transition-colors no-underline hover:text-black cursor-pointer"
                                >
                                    {subLink.label}
                                </a>
                            ))}
                        </div>
                    ))
                }
            </div>
            <div class="flex">
                {
                    links2.map((link, index) => (
                        <div class="w-1/2 md:w-fit md:ml-20 flex flex-col gap-2">
                            <h4>{link.title}</h4>
                            {link.subLinks.map((subLink, index) => (
                                <a
                                    href={subLink.href}
                                    class="text-zinc-500 transition-colors no-underline hover:text-black cursor-pointer"
                                >
                                    {subLink.label}
                                </a>
                            ))}
                        </div>
                    ))
                }
            </div>
        </div>
    </footer>
</div>
