---
import { getCollection } from "astro:content"
import { CheckBox } from "@components/CheckBox"

interface Props {
    lesson: "Solo" | "Team" | "Pro" | "Bonus"
}

const { lesson } = Astro.props

let chapters: {
    title: string
    slug: string
    id: number
}[] = []

switch (lesson) {
    case "Solo":
        const SoloLessons = await getCollection("solo")
        chapters = SoloLessons.map((lesson) => ({
            title: lesson.data.title,
            slug: lesson.slug,
            id: lesson.data.id
        }))
        break
    case "Team":
        const TeamLessons = await getCollection("team")
        chapters = TeamLessons.map((lesson) => ({
            title: lesson.data.title,
            slug: lesson.slug,
            id: lesson.data.id
        }))
        break
    case "Pro":
        const ProLessons = await getCollection("pro")
        chapters = ProLessons.map((lesson) => ({
            title: lesson.data.title,
            slug: lesson.slug,
            id: lesson.data.id
        }))

        break
    case "Bonus":
        const BonusLessons = await getCollection("bonus")
        chapters = BonusLessons.map((lesson) => ({
            title: lesson.data.title,
            slug: lesson.slug,
            id: lesson.data.id
        }))
        break
}

chapters.sort((a, b) => a.id - b.id)

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<aside class="flex flex-col gap-2 p-5">
    <h2 class="text-zinc-500 text-sm uppercase">lesson chapters</h2>
    {
        chapters.map((chapter) => (
            <div class="flex items-center gap-3">
                <CheckBox
                    lesson={lesson}
                    chapterId={chapter.id}
                    isDisabled={true}
                    client:load
                />
                <a
                    href={chapter.slug}
                    class={
                        currentPath.includes(chapter.slug)
                            ? "underline"
                            : "no-underline"
                    }
                >
                    {chapter.title}
                </a>
            </div>
        ))
    }
</aside>

<style>
    aside {
        @apply w-60;
    }
    aside a {
        @apply truncate hover:underline;
    }
</style>
