---
import TableOfContentes from "../components/TableOfContentes.astro"
import { ProgressToggle } from "@components/ProgressToggle"
import ModalProvider from "@providers/ModalProvider.astro"
import Breadcrumb from "../components/Breadcrumb.astro"
import Sidebar from "@components/Sidebar.astro"
import "../styles/globals.css"
import { db } from "@prisma"

interface Props {
    lesson: "Solo" | "Team" | "Pro" | "Bonus"
    chapterId: number
    title: string
    headings: {
        text: string
        slug: string
        depth: number
    }[]
}

const { lesson, chapterId, title, headings } = Astro.props
const { user } = Astro.locals

const progress = await db.progress.findFirst({
    where: {
        user: {
            email: user?.email
        }
    }
})
---

<html lang="en">
    <head>
        <link
            rel="preload"
            href="/fonts/dm-sans.ttf"
            crossorigin="anonymous"
            type="font/ttf"
            as="font"
        />
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta property="og:image" content="/og.png" />
        <meta name="generator" content={Astro.generator} />
        <title>CS000 - Collaborative Coding with Git and GitHub!</title>
    </head>
    <body class="flex flex-col min-h-screen">
        <Breadcrumb lesson={lesson} title={title} />
        <ModalProvider />
        <main class="flex divide-x divide-zinc-200 grow">
            <Sidebar lesson={lesson} progress={progress} />
            <article
                class="h-[calc(100vh-64px)] scroll-smooth overflow-scroll no-scrollbar flex-1 lesson-content p-5 pb-[50vh]"
            >
                <slot />
                <ProgressToggle
                    chapterId={chapterId}
                    lesson={lesson}
                    client:load
                />
            </article>
            <TableOfContentes headings={headings} />
        </main>
    </body>
</html>
