---
import TableOfContentes from "../components/TableOfContentes.astro"
import { ProgressToggle } from "@components/ProgressToggle"
import ModalProvider from "@providers/ModalProvider.astro"
import SpeedInsights from "@vercel/speed-insights/astro"
import Breadcrumb from "@components/Breadcrumb.astro"
import Sidebar from "@components/Sidebar.astro"
import "../styles/globals.css"

interface Props {
    title: string
    description: string
    lessonData: {
        lesson: "Solo" | "Team" | "Pro" | "Bonus"
        chapterId: number
        headings: {
            text: string
            slug: string
            depth: number
        }[]
    }
}

const { lessonData, title, description } = Astro.props

const pageUrl = new URL(Astro.url.pathname, Astro.site).href
---

<html lang="en">
    <head>
        <link
            rel="preload"
            href="/fonts/dm-sans.ttf"
            crossorigin="anonymous"
            type="font/ttf"
            as="font"
        />
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <script
            defer
            is:inline
            data-domains="cs000.dev"
            src="https://cloud.umami.is/script.js"
            data-website-id="4da8afb7-7dfb-4d88-af20-dc1998c347b2"></script>

        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>CS000 | {lessonData.lesson} Lesson: {title}</title>

        <meta
            property="og:title"
            content={"CS000 | " + lessonData.lesson + " Lesson: " + title}
        />
        <meta property="og:description" content={description} />
        <meta property="og:site_name" content="CS000" />
        <meta property="og:image" content="/og.png" />
        <meta property="og:url" content={pageUrl} />

        <SpeedInsights />
    </head>
    <body class="flex flex-col min-h-screen">
        <Breadcrumb lesson={lessonData.lesson} title={title} />
        <ModalProvider />
        <main class="flex divide-x divide-zinc-200 grow">
            <Sidebar lesson={lessonData.lesson} />
            <article
                class="h-[calc(100vh-64px)] scroll-smooth overflow-scroll no-scrollbar flex-1 lesson-content p-5 pb-[50vh]"
            >
                <slot />
                <ProgressToggle
                    chapterId={lessonData.chapterId}
                    lesson={lessonData.lesson}
                    client:load
                />
            </article>
            <TableOfContentes headings={lessonData.headings} />
        </main>
    </body>
</html>
