---
import ModalProvider from "@providers/ModalProvider.astro"
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import "@fontsource-variable/dm-sans"
import "../styles/globals.css"

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props

const pageUrl = new URL(Astro.url.pathname, Astro.site).href

const wesbiteStructuredData = {
    "@context": "https://schema.org",
    "@type": "WebSite",
    name: "CS000",
    alternateName: "CS000",
    url: pageUrl
}
---

<html lang="en">
    <head>
        <link
            rel="preload"
            href="/fonts/dm-sans.ttf"
            crossorigin="anonymous"
            type="font/ttf"
            as="font"
        />
        <style>
            @view-transition {
                navigation: auto;
            }
        </style>
        <script
            defer
            is:inline
            type="application/ld+json"
            set:html={JSON.stringify(wesbiteStructuredData)}
        />
        <script
            defer
            is:inline
            data-domains="www.cs000.dev"
            src="https://cloud.umami.is/script.js"
            data-website-id="4da8afb7-7dfb-4d88-af20-dc1998c347b2"></script>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>CS000 | {title}</title>
        <meta charset="utf-8" />

        <meta property="og:title" content={"CS000 | " + title} />
        <meta property="og:description" content={description} />
        <meta property="og:site_name" content="CS000" />
        <meta property="og:image" content="/og.png" />
        <meta property="og:url" content={pageUrl} />
    </head>
    <body class="pt-[10vh] flex flex-col min-h-screen space-y-16 md:space-y-24">
        <Navbar />
        <ModalProvider />
        <slot />
        <Footer />
    </body>
</html>
